@charset "UTF-8";
/*! ePub CSS, TL2-Signature v3.2.3, by 两仪天心&轻亦之间 */
/*@ Overall */
@font-face { font-family: "org"; src: url("../Fonts/org.ttf") format("truetype"); }
@font-face { font-family: "group"; src: url("../Fonts/group.ttf") format("truetype"); }
@font-face { font-family: "team"; src: url("../Fonts/team.ttf") format("truetype"); }
@font-face { font-family: "maker"; src: url("../Fonts/maker.ttf") format("truetype"); }
@font-face { font-family: "source"; src: url("../Fonts/source.ttf") format("truetype"); }
@font-face { font-family: "proofreader"; src: url("../Fonts/proofreader.ttf") format("truetype"); }
/*@ Lattice - biserial, separated, v2.1.1 */
.information .lattice { width: 16em; padding: 5%; margin: auto; }
.information .lattice > .col-right { float: right; width: 40%; padding: 1.5em 0 1.5em 2.5%; border-left: thick double black; margin-left: 5%; }
.information .lattice > .col-right > .org { float: left; width: 1em; font-family: org, Yuan, sans-serif; font-size: 3em; line-height: 1; }
.information .lattice > .col-right > .org > p { width: 1em; height: 1em; }
.information .lattice > .col-right > .space { height: 5.8em; }
.information .lattice > .col-right > .group { float: left; width: 1em; font-family: group, Hei, sans-serif; font-size: 2em; line-height: 1; padding: 0.5em 0; }
.information .lattice > .col-right > .group > p { -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); margin: -0.5em 0; width: 1em; height: 1em; }
.information .lattice > .col-left { width: 50%; padding: 1em 0 0 0; text-align: right !important; }
.information .lattice > .col-left > .team { font-family: team, Kai, serif; font-size: 2em; line-height: 1; padding-top: 0.25em; padding-bottom: 0.5em; border-bottom: thin solid black; }
.information .lattice > .col-left > .maker { font-family: maker, Hei, sans-serif; font-size: 1.25em; line-height: 1; padding-top: 0.5em; }
.information .lattice > .col-left > .maker > .line-1, .lattice > .col-left > .maker > .line-2 { float: right; width: 1em; }
.information .lattice > .col-left > .maker > .line-1 > p, .lattice > .col-left > .maker > .line-2 > p { width: 1em; height: 1em; }
.information .lattice > .col-left > .maker > .line-1 { margin: 0 0 -4em 0.1em; border-left: thin solid black; padding: 0.5em 0 2.5em 0.1em; }
.information .lattice > .col-left > .maker > .line-2 { padding-top: 1.5em; }
.information .lattice > .col-left > .source { font-family: source, Song, serif; font-size: 1.25em; padding: 0.5em 0; }
/*@ Classic - logo, listed, v1.3.1 */
.information .classic { width: 30em; padding: 5%; margin: 10% auto; }
.information .classic > .team { text-align: right !important; margin: 0 5% 0.5em 5%; font-family: team, Yuan, sans-serif; text-decoration: underline; }
.information .classic > .logo { text-align: center !important; margin: auto; }
.information .classic > .logo > img { width: 100%; }
.information .classic > .contributer { text-align: right !important; margin: 0 5% 0 10%; }
.information .classic > .contributer > .item { font-family: Hei, sans-serif; font-size: 0.5em; color: white; padding-right: 0.25em; height: 3em; margin-top: 0.75em; margin-bottom: -3.1em; }
.information .classic > .source > .name { font-family: source, Yuan, sans-serif; margin-left: 25%; padding-right: 0.25em; border-right: 0.75em solid black; border-bottom: medium solid black; }
.information .classic > .proofreader > .name { font-family: proofreader, Yuan, sans-serif; margin-left: 12.5%; padding-right: 0.25em; border-right: 0.75em solid black; border-bottom: medium solid black; }
.information .classic > .maker > .name { font-family: maker, Kai, serif; padding-right: 0.25em; border-right: 0.75em solid black; border-bottom: medium solid black; }
.information .classic .statement { text-align: right !important; margin: 1em 5% 0 5%; font-size: 0.75em; color: red; }
