@charset "UTF-8";
/*! ePub CSS, TL2-Standard v3.1.5, by 两仪天心&轻亦之间 */
/*@ Text - wrap */
.wrap-no { white-space: nowrap; }
.wrap-nom { word-wrap: normal; overflow-wrap: normal; }
/*@ Text - indent */
p.i-0, .i-0 p { text-indent: 0em; }
p.i-p1e, .i-p1e p { text-indent: 1em; }
p.i-p2e, .i-p2e p { text-indent: 2em; }
p.i-p3e, .i-p3e p { text-indent: 3em; }
p.i-p4e, .i-p4e p { text-indent: 4em; }
p.i-p5e, .i-p5e p { text-indent: 5em; }
p.i-p6e, .i-p6e p { text-indent: 6em; }
p.i-n1e, .i-n1e p { text-indent: -1em; padding-left: 1em; }
p.i-n2e, .i-n2e p { text-indent: -2em; padding-left: 2em; }
p.i-n3e, .i-n3e p { text-indent: -3em; padding-left: 3em; }
p.i-n4e, .i-n4e p { text-indent: -4em; padding-left: 4em; }
/*@ Font - size */
.s-0e1 { font-size: 0.1em; }
.s-0e15 { font-size: 0.15em; }
.s-0e2 { font-size: 0.2em; }
.s-0e25 { font-size: 0.25em; }
.s-0e3 { font-size: 0.3em; }
.s-0e35 { font-size: 0.35em; }
.s-0e4 { font-size: 0.4em; }
.s-0e45 { font-size: 0.45em; }
.s-0e5 { font-size: 0.5em; }
.s-0e55 { font-size: 0.55em; }
.s-0e6 { font-size: 0.6em; }
.s-0e65 { font-size: 0.65em; }
.s-0e7 { font-size: 0.7em; }
.s-0e75 { font-size: 0.75em; }
.s-0e8 { font-size: 0.8em; }
.s-0e85 { font-size: 0.85em; }
.s-0e9 { font-size: 0.9em; }
.s-0e95 { font-size: 0.95em; }
.s-1e1 { font-size: 1.1em; }
.s-1e2 { font-size: 1.2em; }
.s-1e25 { font-size: 1.25em; }
.s-1e3 { font-size: 1.3em; }
.s-1e4 { font-size: 1.4em; }
.s-1e5 { font-size: 1.5em; }
.s-1e6 { font-size: 1.6em; }
.s-1e7 { font-size: 1.7em; }
.s-1e75 { font-size: 1.75em; }
.s-1e8 { font-size: 1.8em; }
.s-1e9 { font-size: 1.9em; }
.s-2e { font-size: 2em; }
.s-2e25 { font-size: 2.25em; }
.s-2e5 { font-size: 2.5em; }
.s-2e75 { font-size: 2.75em; }
.s-3e { font-size: 3em; }
.s-3e5 { font-size: 3.5em; }
.s-4e { font-size: 4em; }
/*@ Render - display */
.hidden { visibility: hidden; }
.d-inblock { display: inline-block; }
.d-table { display: table; }
.d-cell { display: table-cell; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-item { display: list-item; }
.d-none { display: none; }
/*@ Render - float */
.left { float: left; }
.right { float: right; text-align: inherit; }
.none { float: none; }
.clear { clear: both; }
.clear-l { clear: left; }
.clear-r { clear: right; }
/*@ Render - align */
.a-center, p.a-center { text-align: center !important; }
.a-left, p.a-left { text-align: left !important; }
.a-right, p.a-right { text-align: right !important; }
.a-mcenter { margin-left: auto !important; margin-right: auto !important; }
.a-mleft { margin-left: 0 !important; margin-right: auto !important; }
.a-mright { margin-left: auto !important; margin-right: 0 !important; }
.a-super { vertical-align: super; }
.a-sub { vertical-align: sub; }
.a-text { vertical-align: text-bottom; }
.a-top { vertical-align: top; }
.a-bottom { vertical-align: bottom; }
.a-middle { vertical-align: middle; }
/*@ Width - per */
.w-5p { width: 5%; }
.w-10p { width: 10%; }
.w-25p { width: 25%; }
.w-50p { width: 50%; }
.w-75p { width: 75%; }
.w-100p { width: 100%; }
/*@ Width - em */
.w-0e25 { width: 0.25em; }
.w-0e5 { width: 0.5em; }
.w-0e75 { width: 0.75em; }
.w-1e { width: 1em; }
.w-1e1 { width: 1.1em; }
.w-1e2 { width: 1.2em; }
.w-1e25 { width: 1.25em; }
.w-1e3 { width: 1.3em; }
.w-1e4 { width: 1.4em; }
.w-1e5 { width: 1.5em; }
.w-1e6 { width: 1.6em; }
.w-1e7 { width: 1.7em; }
.w-1e75 { width: 1.75em; }
.w-1e8 { width: 1.8em; }
.w-1e9 { width: 1.9em; }
.w-2e { width: 2em; }
.w-2e5 { width: 2.5em; }
.w-3e { width: 3em; }
.w-3e5 { width: 3.5em; }
.w-4e { width: 4em; }
.w-4e5 { width: 4.5em; }
.w-5e { width: 5em; }
.w-5e5 { width: 5.5em; }
.w-6e { width: 6em; }
.w-6e5 { width: 6.5em; }
.w-7e { width: 7em; }
.w-7e5 { width: 7.5em; }
.w-8e { width: 8em; }
.w-8e5 { width: 8.5em; }
.w-9e { width: 9em; }
.w-9e5 { width: 9.5em; }
.w-10e { width: 10em; }
.w-11e { width: 11em; }
.w-12e { width: 12em; }
.w-13e { width: 13em; }
.w-14e { width: 14em; }
.w-15e { width: 15em; }
.w-16e { width: 16em; }
.w-17e { width: 17em; }
.w-18e { width: 18em; }
.w-19e { width: 19em; }
.w-20e { width: 20em; }
.w-21e { width: 21em; }
.w-22e { width: 22em; }
.w-23e { width: 23em; }
.w-24e { width: 24em; }
.w-25e { width: 25em; }
.w-26e { width: 26em; }
.w-27e { width: 27em; }
.w-28e { width: 28em; }
.w-29e { width: 29em; }
.w-30e { width: 30em; }
/*@ Height - em */
.h-0e25 { height: 0.25em; }
.h-0e5 { height: 0.5em; }
.h-0e75 { height: 0.75em; }
.h-1e { height: 1em; }
.h-1e1 { height: 1.1em; }
.h-1e2 { height: 1.2em; }
.h-1e25 { height: 1.25em; }
.h-1e3 { height: 1.3em; }
.h-1e4 { height: 1.4em; }
.h-1e5 { height: 1.5em; }
.h-1e6 { height: 1.6em; }
.h-1e7 { height: 1.7em; }
.h-1e75 { height: 1.75em; }
.h-1e8 { height: 1.8em; }
.h-1e9 { height: 1.9em; }
.h-2e { height: 2em; }
.h-2e5 { height: 2.5em; }
.h-3e { height: 3em; }
.h-3e5 { height: 3.5em; }
.h-4e { height: 4em; }
.h-4e5 { height: 4.5em; }
.h-5e { height: 5em; }
.h-5e5 { height: 5.5em; }
.h-6e { height: 6em; }
.h-6e5 { height: 6.5em; }
.h-7e { height: 7em; }
.h-7e5 { height: 7.5em; }
.h-8e { height: 8em; }
.h-8e5 { height: 8.5em; }
.h-9e { height: 9em; }
.h-9e5 { height: 9.5em; }
.h-10e { height: 10em; }
.h-11e { height: 11em; }
.h-12e { height: 12em; }
.h-13e { height: 13em; }
.h-14e { height: 14em; }
.h-15e { height: 15em; }
/*@ Margin */
.m-0 { margin: 0; }
.m-auto { margin: auto; }
/*@ Margin - all per */
.ma-p2p5 { margin: 2.5%; }
.ma-p5p { margin: 5%; }
.ma-p10p { margin: 10%; }
.ma-p25p { margin: 25%; }
.ma-p50p { margin: 50%; }
.ma-n2p5 { margin: -2.5%; }
.ma-n5p { margin: -5%; }
.ma-n10p { margin: -10%; }
.ma-n25p { margin: -25%; }
.ma-n50p { margin: -50%; }
/*@ Margin - all em */
.ma-p0e1 { margin: 0.1em; }
.ma-p0e2 { margin: 0.2em; }
.ma-p0e25 { margin: 0.25em; }
.ma-p0e3 { margin: 0.3em; }
.ma-p0e4 { margin: 0.4em; }
.ma-p0e5 { margin: 0.5em; }
.ma-p0e6 { margin: 0.6em; }
.ma-p0e7 { margin: 0.7em; }
.ma-p0e75 { margin: 0.75em; }
.ma-p0e8 { margin: 0.8em; }
.ma-p0e9 { margin: 0.9em; }
.ma-p1e { margin: 1em; }
.ma-p1e5 { margin: 1.5em; }
.ma-p2e { margin: 2em; }
.ma-p2e5 { margin: 2.5em; }
.ma-p3e { margin: 3em; }
.ma-p3e5 { margin: 3.5em; }
.ma-p4e { margin: 4em; }
.ma-p4e5 { margin: 4.5em; }
.ma-p5e { margin: 5em; }
.ma-n0e1 { margin: -0.1em; }
.ma-n0e2 { margin: -0.2em; }
.ma-n0e25 { margin: -0.25em; }
.ma-n0e3 { margin: -0.3em; }
.ma-n0e4 { margin: -0.4em; }
.ma-n0e5 { margin: -0.5em; }
.ma-n0e6 { margin: -0.6em; }
.ma-n0e7 { margin: -0.7em; }
.ma-n0e75 { margin: -0.75em; }
.ma-n0e8 { margin: -0.8em; }
.ma-n0e9 { margin: -0.9em; }
.ma-n1e { margin: -1em; }
.ma-n1e5 { margin: -1.5em; }
.ma-n2e { margin: -2em; }
.ma-n2e5 { margin: -2.5em; }
.ma-n3e { margin: -3em; }
.ma-n3e5 { margin: -3.5em; }
.ma-n4e { margin: -4em; }
.ma-n4e5 { margin: -4.5em; }
.ma-n5e { margin: -5em; }
/*@ Margin - left&right per */
.mh-p2p5 { margin-left: 2.5%; margin-right: 2.5%; }
.mh-p5p { margin-left: 5%; margin-right: 5%; }
.mh-p10p { margin-left: 10%; margin-right: 10%; }
.mh-p25p { margin-left: 25%; margin-right: 25%; }
.mh-p50p { margin-left: 50%; margin-right: 50%; }
.mh-n2p5 { margin-left: -2.5%; margin-right: -2.5%; }
.mh-n5p { margin-left: -5%; margin-right: -5%; }
.mh-n10p { margin-left: -10%; margin-right: -10%; }
.mh-n25p { margin-left: -25%; margin-right: -25%; }
.mh-n50p { margin-left: -50%; margin-right: -50%; }
/*@ Margin - left&right em */
.mh-p0e1 { margin-left: 0.1em; margin-right: 0.1em; }
.mh-p0e2 { margin-left: 0.2em; margin-right: 0.2em; }
.mh-p0e25 { margin-left: 0.25em; margin-right: 0.25em; }
.mh-p0e3 { margin-left: 0.3em; margin-right: 0.3em; }
.mh-p0e4 { margin-left: 0.4em; margin-right: 0.4em; }
.mh-p0e5 { margin-left: 0.5em; margin-right: 0.5em; }
.mh-p0e6 { margin-left: 0.6em; margin-right: 0.6em; }
.mh-p0e7 { margin-left: 0.7em; margin-right: 0.7em; }
.mh-p0e75 { margin-left: 0.75em; margin-right: 0.75em; }
.mh-p0e8 { margin-left: 0.8em; margin-right: 0.8em; }
.mh-p0e9 { margin-left: 0.9em; margin-right: 0.9em; }
.mh-p1e { margin-left: 1em; margin-right: 1em; }
.mh-p1e5 { margin-left: 1.5em; margin-right: 1.5em; }
.mh-p2e { margin-left: 2em; margin-right: 2em; }
.mh-p2e5 { margin-left: 2.5em; margin-right: 2.5em; }
.mh-p3e { margin-left: 3em; margin-right: 3em; }
.mh-p3e5 { margin-left: 3.5em; margin-right: 3.5em; }
.mh-p4e { margin-left: 4em; margin-right: 4em; }
.mh-p4e5 { margin-left: 4.5em; margin-right: 4.5em; }
.mh-p5e { margin-left: 5em; margin-right: 5em; }
.mh-n0e1 { margin-left: -0.1em; margin-right: -0.1em; }
.mh-n0e2 { margin-left: -0.2em; margin-right: -0.2em; }
.mh-n0e25 { margin-left: -0.25em; margin-right: -0.25em; }
.mh-n0e3 { margin-left: -0.3em; margin-right: -0.3em; }
.mh-n0e4 { margin-left: -0.4em; margin-right: -0.4em; }
.mh-n0e5 { margin-left: -0.5em; margin-right: -0.5em; }
.mh-n0e6 { margin-left: -0.6em; margin-right: -0.6em; }
.mh-n0e7 { margin-left: -0.7em; margin-right: -0.7em; }
.mh-n0e75 { margin-left: -0.75em; margin-right: -0.75em; }
.mh-n0e8 { margin-left: -0.8em; margin-right: -0.8em; }
.mh-n0e9 { margin-left: -0.9em; margin-right: -0.9em; }
.mh-n1e { margin-left: -1em; margin-right: -1em; }
.mh-n1e25 { margin-left: -1.25em; margin-right: -1.25em; }
.mh-n1e5 { margin-left: -1.5em; margin-right: -1.5em; }
.mh-n2e { margin-left: -2em; margin-right: -2em; }
.mh-n2e5 { margin-left: -2.5em; margin-right: -2.5em; }
.mh-n2e75 { margin-left: -2.75em; margin-right: -2.75em; }
.mh-n3e { margin-left: -3em; margin-right: -3em; }
.mh-n3e5 { margin-left: -3.5em; margin-right: -3.5em; }
.mh-n4e { margin-left: -4em; margin-right: -4em; }
.mh-n4e5 { margin-left: -4.5em; margin-right: -4.5em; }
.mh-n5e { margin-left: -5em; margin-right: -5em; }
/*@ Margin - top&bottom per */
.mv-p2p5 { margin-top: 2.5%; margin-bottom: 2.5%; }
.mv-p5p { margin-top: 5%; margin-bottom: 5%; }
.mv-p10p { margin-top: 10%; margin-bottom: 10%; }
.mv-p25p { margin-top: 25%; margin-bottom: 25%; }
.mv-p50p { margin-top: 50%; margin-bottom: 50%; }
.mv-n2p5 { margin-top: -2.5%; margin-bottom: -2.5%; }
.mv-n5p { margin-top: -5%; margin-bottom: -5%; }
.mv-n10p { margin-top: -10%; margin-bottom: -10%; }
.mv-n25p { margin-top: -25%; margin-bottom: -25%; }
.mv-n50p { margin-top: -50%; margin-bottom: -50%; }
/*@ Margin - top&bottom em */
.mv-p0e1 { margin-top: 0.1em; margin-bottom: 0.1em; }
.mv-p0e2 { margin-top: 0.2em; margin-bottom: 0.2em; }
.mv-p0e25 { margin-top: 0.25em; margin-bottom: 0.25em; }
.mv-p0e3 { margin-top: 0.3em; margin-bottom: 0.3em; }
.mv-p0e4 { margin-top: 0.4em; margin-bottom: 0.4em; }
.mv-p0e5 { margin-top: 0.5em; margin-bottom: 0.5em; }
.mv-p0e6 { margin-top: 0.6em; margin-bottom: 0.6em; }
.mv-p0e7 { margin-top: 0.7em; margin-bottom: 0.7em; }
.mv-p0e75 { margin-top: 0.75em; margin-bottom: 0.75em; }
.mv-p0e8 { margin-top: 0.8em; margin-bottom: 0.8em; }
.mv-p0e9 { margin-top: 0.9em; margin-bottom: 0.9em; }
.mv-p1e { margin-top: 1em; margin-bottom: 1em; }
.mv-p1e5 { margin-top: 1.5em; margin-bottom: 1.5em; }
.mv-p2e { margin-top: 2em; margin-bottom: 2em; }
.mv-p2e5 { margin-top: 2.5em; margin-bottom: 2.5em; }
.mv-p3e { margin-top: 3em; margin-bottom: 3em; }
.mv-p3e5 { margin-top: 3.5em; margin-bottom: 3.5em; }
.mv-p4e { margin-top: 4em; margin-bottom: 4em; }
.mv-p4e5 { margin-top: 4.5em; margin-bottom: 4.5em; }
.mv-p5e { margin-top: 5em; margin-bottom: 5em; }
.mv-n0e1 { margin-top: -0.1em; margin-bottom: -0.1em; }
.mv-n0e2 { margin-top: -0.2em; margin-bottom: -0.2em; }
.mv-n0e25 { margin-top: -0.25em; margin-bottom: -0.25em; }
.mv-n0e3 { margin-top: -0.3em; margin-bottom: -0.3em; }
.mv-n0e4 { margin-top: -0.4em; margin-bottom: -0.4em; }
.mv-n0e5 { margin-top: -0.5em; margin-bottom: -0.5em; }
.mv-n0e6 { margin-top: -0.6em; margin-bottom: -0.6em; }
.mv-n0e7 { margin-top: -0.7em; margin-bottom: -0.7em; }
.mv-n0e75 { margin-top: -0.75em; margin-bottom: -0.75em; }
.mv-n0e8 { margin-top: -0.8em; margin-bottom: -0.8em; }
.mv-n0e9 { margin-top: -0.9em; margin-bottom: -0.9em; }
.mv-n1e { margin-top: -1em; margin-bottom: -1em; }
.mv-n1e5 { margin-top: -1.5em; margin-bottom: -1.5em; }
.mv-n2e { margin-top: -2em; margin-bottom: -2em; }
.mv-n2e5 { margin-top: -2.5em; margin-bottom: -2.5em; }
.mv-n3e { margin-top: -3em; margin-bottom: -3em; }
.mv-n3e5 { margin-top: -3.5em; margin-bottom: -3.5em; }
.mv-n4e { margin-top: -4em; margin-bottom: -4em; }
.mv-n4e5 { margin-top: -4.5em; margin-bottom: -4.5em; }
.mv-n5e { margin-top: -5em; margin-bottom: -5em; }
/*@ Margin - top per */
.mt-p5p { margin-top: 5%; }
.mt-p10p { margin-top: 10%; }
.mt-p25p { margin-top: 25%; }
.mt-p50p { margin-top: 50%; }
/*@ Margin - top em */
.mt-p0e1 { margin-top: 0.1em; }
.mt-p0e2 { margin-top: 0.2em; }
.mt-p0e25 { margin-top: 0.25em; }
.mt-p0e3 { margin-top: 0.3em; }
.mt-p0e4 { margin-top: 0.4em; }
.mt-p0e5 { margin-top: 0.5em; }
.mt-p0e6 { margin-top: 0.6em; }
.mt-p0e7 { margin-top: 0.7em; }
.mt-p0e75 { margin-top: 0.75em; }
.mt-p0e8 { margin-top: 0.8em; }
.mt-p0e9 { margin-top: 0.9em; }
.mt-p1e { margin-top: 1em; }
.mt-p1e5 { margin-top: 1.5em; }
.mt-p2e { margin-top: 2em; }
.mt-p2e5 { margin-top: 2.5em; }
.mt-p3e { margin-top: 3em; }
.mt-p3e5 { margin-top: 3.5em; }
.mt-p4e { margin-top: 4em; }
.mt-p4e5 { margin-top: 4.5em; }
.mt-p5e { margin-top: 5em; }
.mt-n0e1 { margin-top: -0.1em; }
.mt-n0e2 { margin-top: -0.2em; }
.mt-n0e25 { margin-top: -0.25em; }
.mt-n0e3 { margin-top: -0.3em; }
.mt-n0e4 { margin-top: -0.4em; }
.mt-n0e5 { margin-top: -0.5em; }
.mt-n0e6 { margin-top: -0.6em; }
.mt-n0e7 { margin-top: -0.7em; }
.mt-n0e75 { margin-top: -0.75em; }
.mt-n0e8 { margin-top: -0.8em; }
.mt-n0e9 { margin-top: -0.9em; }
.mt-n1e { margin-top: -1em; }
.mt-n1e5 { margin-top: -1.5em; }
.mt-n2e { margin-top: -2em; }
.mt-n2e5 { margin-top: -2.5em; }
.mt-n3e { margin-top: -3em; }
.mt-n3e5 { margin-top: -3.5em; }
.mt-n4e { margin-top: -4em; }
.mt-n4e5 { margin-top: -4.5em; }
.mt-n5e { margin-top: -5em; }
/*@ Margin - right per */
.mr-p5p { margin-right: 5%; }
.mr-p10p { margin-right: 10%; }
.mr-p25p { margin-right: 25%; }
.mr-p50p { margin-right: 50%; }
/*@ Margin - right em */
.mr-p0e1 { margin-right: 0.1em; }
.mr-p0e2 { margin-right: 0.2em; }
.mr-p0e25 { margin-right: 0.25em; }
.mr-p0e3 { margin-right: 0.3em; }
.mr-p0e4 { margin-right: 0.4em; }
.mr-p0e5 { margin-right: 0.5em; }
.mr-p0e6 { margin-right: 0.6em; }
.mr-p0e7 { margin-right: 0.7em; }
.mr-p0e75 { margin-right: 0.75em; }
.mr-p0e8 { margin-right: 0.8em; }
.mr-p0e9 { margin-right: 0.9em; }
.mr-p1e { margin-right: 1em; }
.mr-p1e5 { margin-right: 1.5em; }
.mr-p2e { margin-right: 2em; }
.mr-p2e5 { margin-right: 2.5em; }
.mr-p3e { margin-right: 3em; }
.mr-p3e5 { margin-right: 3.5em; }
.mr-p4e { margin-right: 4em; }
.mr-p4e5 { margin-right: 4.5em; }
.mr-p5e { margin-right: 5em; }
.mr-n0e1 { margin-right: -0.1em; }
.mr-n0e2 { margin-right: -0.2em; }
.mr-n0e25 { margin-right: -0.25em; }
.mr-n0e3 { margin-right: -0.3em; }
.mr-n0e4 { margin-right: -0.4em; }
.mr-n0e5 { margin-right: -0.5em; }
.mr-n0e6 { margin-right: -0.6em; }
.mr-n0e7 { margin-right: -0.7em; }
.mr-n0e75 { margin-right: -0.75em; }
.mr-n0e8 { margin-right: -0.8em; }
.mr-n0e9 { margin-right: -0.9em; }
.mr-n1e { margin-right: -1em; }
.mr-n1e5 { margin-right: -1.5em; }
.mr-n2e { margin-right: -2em; }
.mr-n2e5 { margin-right: -2.5em; }
.mr-n3e { margin-right: -3em; }
.mr-n3e5 { margin-right: -3.5em; }
.mr-n4e { margin-right: -4em; }
.mr-n4e5 { margin-top: -4.5em; }
.mr-n5e { margin-right: -5em; }
/*@ Margin - bottom per */
.mb-p5p { margin-bottom: 5%; }
.mb-p10p { margin-bottom: 10%; }
.mb-p25p { margin-bottom: 25%; }
.mb-p50p { margin-bottom: 50%; }
/*@ Margin - bottom em */
.mb-p0e1 { margin-bottom: 0.1em; }
.mb-p0e2 { margin-bottom: 0.2em; }
.mb-p0e25 { margin-bottom: 0.25em; }
.mb-p0e3 { margin-bottom: 0.3em; }
.mb-p0e4 { margin-bottom: 0.4em; }
.mb-p0e5 { margin-bottom: 0.5em; }
.mb-p0e6 { margin-bottom: 0.6em; }
.mb-p0e7 { margin-bottom: 0.7em; }
.mb-p0e75 { margin-bottom: 0.75em; }
.mb-p0e8 { margin-bottom: 0.8em; }
.mb-p0e9 { margin-bottom: 0.9em; }
.mb-p1e { margin-bottom: 1em; }
.mb-p1e5 { margin-bottom: 1.5em; }
.mb-p2e { margin-bottom: 2em; }
.mb-p2e5 { margin-bottom: 2.5em; }
.mb-p3e { margin-bottom: 3em; }
.mb-p3e5 { margin-bottom: 3.5em; }
.mb-p4e { margin-bottom: 4em; }
.mb-p4e5 { margin-bottom: 4.5em; }
.mb-p5e { margin-bottom: 5em; }
.mb-n0e1 { margin-bottom: -0.1em; }
.mb-n0e2 { margin-bottom: -0.2em; }
.mb-n0e25 { margin-bottom: -0.25em; }
.mb-n0e3 { margin-bottom: -0.3em; }
.mb-n0e4 { margin-bottom: -0.4em; }
.mb-n0e5 { margin-bottom: -0.5em; }
.mb-n0e6 { margin-bottom: -0.6em; }
.mb-n0e7 { margin-bottom: -0.7em; }
.mb-n0e75 { margin-bottom: -0.75em; }
.mb-n0e8 { margin-bottom: -0.8em; }
.mb-n0e9 { margin-bottom: -0.9em; }
.mb-n1e { margin-bottom: -1em; }
.mb-n1e5 { margin-bottom: -1.5em; }
.mb-n2e { margin-bottom: -2em; }
.mb-n2e5 { margin-bottom: -2.5em; }
.mb-n3e { margin-bottom: -3em; }
.mb-n3e5 { margin-bottom: -3.5em; }
.mb-n4e { margin-bottom: -4em; }
.mb-n4e5 { margin-bottom: -4.5em; }
.mb-n5e { margin-bottom: -5em; }
/*@ Margin - left per */
.ml-p5p { margin-left: 5%; }
.ml-p10p { margin-left: 10%; }
.ml-p25p { margin-left: 25%; }
.ml-p50p { margin-left: 50%; }
/*@ Margin - left em */
.ml-p0e1 { margin-left: 0.1em; }
.ml-p0e2 { margin-left: 0.2em; }
.ml-p0e25 { margin-left: 0.25em; }
.ml-p0e3 { margin-left: 0.3em; }
.ml-p0e4 { margin-left: 0.4em; }
.ml-p0e5 { margin-left: 0.5em; }
.ml-p0e6 { margin-left: 0.6em; }
.ml-p0e7 { margin-left: 0.7em; }
.ml-p0e75 { margin-left: 0.75em; }
.ml-p0e8 { margin-left: 0.8em; }
.ml-p0e9 { margin-left: 0.9em; }
.ml-p1e { margin-left: 1em; }
.ml-p1e5 { margin-left: 1.5em; }
.ml-p2e { margin-left: 2em; }
.ml-p2e5 { margin-left: 2.5em; }
.ml-p3e { margin-left: 3em; }
.ml-p3e5 { margin-left: 3.5em; }
.ml-p4e { margin-left: 4em; }
.ml-p4e5 { margin-left: 4.5em; }
.ml-p5e { margin-left: 5em; }
.ml-p10e { margin-left: 10em; }
.ml-p15e { margin-left: 15em; }
.ml-p16e { margin-left: 16em; }
.ml-n0e1 { margin-left: -0.1em; }
.ml-n0e2 { margin-left: -0.2em; }
.ml-n0e25 { margin-left: -0.25em; }
.ml-n0e3 { margin-left: -0.3em; }
.ml-n0e4 { margin-left: -0.4em; }
.ml-n0e5 { margin-left: -0.5em; }
.ml-n0e6 { margin-left: -0.6em; }
.ml-n0e7 { margin-left: -0.7em; }
.ml-n0e75 { margin-left: -0.75em; }
.ml-n0e8 { margin-left: -0.8em; }
.ml-n0e9 { margin-left: -0.9em; }
.ml-n1e { margin-left: -1em; }
.ml-n1e5 { margin-left: -1.5em; }
.ml-n2e { margin-left: -2em; }
.ml-n2e5 { margin-left: -2.5em; }
.ml-n3e { margin-left: -3em; }
.ml-n3e5 { margin-left: -3.5em; }
.ml-n4e { margin-left: -4em; }
.ml-n4e5 { margin-left: -4.5em; }
.ml-n5e { margin-left: -5em; }
/*@ Padding - all per */
.pa-2p5 { padding: 2.5%; }
.pa-5p { padding: 5%; }
.pa-10p { padding: 10%; }
.pa-25p { padding: 25%; }
/*@ Padding - all em */
.pa-0e1 { padding: 0.1em; }
.pa-0e2 { padding: 0.2em; }
.pa-0e25 { padding: 0.25em; }
.pa-0e3 { padding: 0.3em; }
.pa-0e4 { padding: 0.4em; }
.pa-0e5 { padding: 0.5em; }
.pa-0e6 { padding: 0.6em; }
.pa-0e7 { padding: 0.7em; }
.pa-0e75 { padding: 0.75em; }
.pa-0e8 { padding: 0.8em; }
.pa-0e9 { padding: 0.9em; }
.pa-1e { padding: 1em; }
.pa-1e5 { padding: 1.5em; }
.pa-2e { padding: 2em; }
.pa-2e5 { padding: 2.5em; }
.pa-3e { padding: 3em; }
.pa-3e5 { padding: 3.5em; }
.pa-4e { padding: 4em; }
.pa-4e5 { padding: 4.5em; }
.pa-5e { padding: 5em; }
/*@ Padding - left&right per */
.ph-2p5 { padding-left: 2.5%; padding-right: 2.5%; }
.ph-5p { padding-left: 5%; padding-right: 5%; }
.ph-10p { padding-left: 10%; padding-right: 10%; }
.ph-25p { padding-left: 25%; padding-right: 25%; }
/*@ Padding - left&right em */
.ph-0e1 { padding-left: 0.1em; padding-right: 0.1em; }
.ph-0e2 { padding-left: 0.2em; padding-right: 0.2em; }
.ph-0e25 { padding-left: 0.25em; padding-right: 0.25em; }
.ph-0e3 { padding-left: 0.3em; padding-right: 0.3em; }
.ph-0e4 { padding-left: 0.4em; padding-right: 0.4em; }
.ph-0e5 { padding-left: 0.5em; padding-right: 0.5em; }
.ph-0e6 { padding-left: 0.6em; padding-right: 0.6em; }
.ph-0e7 { padding-left: 0.7em; padding-right: 0.7em; }
.ph-0e75 { padding-left: 0.75em; padding-right: 0.75em; }
.ph-0e8 { padding-left: 0.8em; padding-right: 0.8em; }
.ph-0e9 { padding-left: 0.9em; padding-right: 0.9em; }
.ph-1e { padding-left: 1em; padding-right: 1em; }
.ph-1e5 { padding-left: 1.5em; padding-right: 1.5em; }
.ph-2e { padding-left: 2em; padding-right: 2em; }
.ph-2e5 { padding-left: 2.5em; padding-right: 2.5em; }
.ph-3e { padding-left: 3em; padding-right: 3em; }
.ph-3e5 { padding-left: 3.5em; padding-right: 3.5em; }
.ph-4e { padding-left: 4em; padding-right: 4em; }
.ph-4e5 { padding-left: 4.5em; padding-right: 4.5em; }
.ph-5e { padding-left: 5em; padding-right: 5em; }
/*@ Padding - top&bottom per */
.pv-2p5 { padding-top: 2.5%; padding-bottom: 2.5%; }
.pv-5p { padding-top: 5%; padding-bottom: 5%; }
.pv-10p { padding-top: 10%; padding-bottom: 10%; }
.pv-25p { padding-top: 25%; padding-bottom: 25%; }
/*@ Padding - top&bottom em */
.pv-0e1 { padding-top: 0.1em; padding-bottom: 0.1em; }
.pv-0e2 { padding-top: 0.2em; padding-bottom: 0.2em; }
.pv-0e25 { padding-top: 0.25em; padding-bottom: 0.25em; }
.pv-0e3 { padding-top: 0.3em; padding-bottom: 0.3em; }
.pv-0e4 { padding-top: 0.4em; padding-bottom: 0.4em; }
.pv-0e5 { padding-top: 0.5em; padding-bottom: 0.5em; }
.pv-0e6 { padding-top: 0.6em; padding-bottom: 0.6em; }
.pv-0e7 { padding-top: 0.7em; padding-bottom: 0.7em; }
.pv-0e75 { padding-top: 0.75em; padding-bottom: 0.75em; }
.pv-0e8 { padding-top: 0.8em; padding-bottom: 0.8em; }
.pv-0e9 { padding-top: 0.9em; padding-bottom: 0.9em; }
.pv-1e { padding-top: 1em; padding-bottom: 1em; }
.pv-1e2 { padding-top: 1.2em; padding-bottom: 1.2em; }
.pv-1e5 { padding-top: 1.5em; padding-bottom: 1.5em; }
.pv-2e { padding-top: 2em; padding-bottom: 2em; }
.pv-2e25 { padding-top: 2.25em; padding-bottom: 2.25em; }
.pv-2e5 { padding-top: 2.5em; padding-bottom: 2.5em; }
.pv-3e { padding-top: 3em; padding-bottom: 3em; }
.pv-3e5 { padding-top: 3.5em; padding-bottom: 3.5em; }
.pv-4e { padding-top: 4em; padding-bottom: 4em; }
.pv-4e5 { padding-top: 4.5em; padding-bottom: 4.5em; }
.pv-5e { padding-top: 5em; padding-bottom: 5em; }
.pv-5e5 { padding-top: 5.5em; padding-bottom: 5.5em; }
.pv-6e { padding-top: 6em; padding-bottom: 6em; }
.pv-6e5 { padding-top: 6.5em; padding-bottom: 6.5em; }
.pv-7e { padding-top: 7em; padding-bottom: 7em; }
/*@ Padding - top per */
.pt-2p5 { padding-top: 2.5%; }
.pt-5p { padding-top: 5%; }
.pt-10p { padding-top: 10%; }
.pt-25p { padding-top: 25%; }
.pt-50p { padding-top: 50%; }
/*@ Padding - top em */
.pt-0e1 { padding-top: 0.1em; }
.pt-0e2 { padding-top: 0.2em; }
.pt-0e25 { padding-top: 0.25em; }
.pt-0e3 { padding-top: 0.3em; }
.pt-0e4 { padding-top: 0.4em; }
.pt-0e5 { padding-top: 0.5em; }
.pt-0e6 { padding-top: 0.6em; }
.pt-0e7 { padding-top: 0.7em; }
.pt-0e75 { padding-top: 0.75em; }
.pt-0e8 { padding-top: 0.8em; }
.pt-0e9 { padding-top: 0.9em; }
.pt-1e { padding-top: 1em; }
.pt-1e5 { padding-top: 1.5em; }
.pt-2e { padding-top: 2em; }
.pt-2e5 { padding-top: 2.5em; }
.pt-3e { padding-top: 3em; }
.pt-3e5 { padding-top: 3.5em; }
.pt-4e { padding-top: 4em; }
.pt-4e5 { padding-top: 4.5em; }
.pt-5e { padding-top: 5em; }
/*@ Padding - right per */
.pr-2p5 { padding-right: 2.5%; }
.pr-5p { padding-right: 5%; }
.pr-10p { padding-right: 10%; }
.pr-25p { padding-right: 25%; }
.pr-50p { padding-right: 50%; }
/*@ Padding - right em */
.pr-0e1 { padding-right: 0.1em; }
.pr-0e2 { padding-right: 0.2em; }
.pr-0e25 { padding-right: 0.25em; }
.pr-0e3 { padding-right: 0.3em; }
.pr-0e4 { padding-right: 0.4em; }
.pr-0e5 { padding-right: 0.5em; }
.pr-0e6 { padding-right: 0.6em; }
.pr-0e7 { padding-right: 0.7em; }
.pr-0e75 { padding-right: 0.75em; }
.pr-0e8 { padding-right: 0.8em; }
.pr-0e9 { padding-right: 0.9em; }
.pr-1e { padding-right: 1em; }
.pr-1e5 { padding-right: 1.5em; }
.pr-2e { padding-right: 2em; }
.pr-2e5 { padding-right: 2.5em; }
.pr-3e { padding-right: 3em; }
.pr-3e5 { padding-right: 3.5em; }
.pr-4e { padding-right: 4em; }
.pr-4e5 { padding-right: 4.5em; }
.pr-5e { padding-right: 5em; }
/*@ Padding - bottom per */
.pb-2p5 { padding-bottom: 2.5%; }
.pb-5p { padding-bottom: 5%; }
.pb-10p { padding-bottom: 10%; }
.pb-25p { padding-bottom: 25%; }
.pb-50p { padding-bottom: 50%; }
/*@ Padding - bottom em */
.pb-0e1 { padding-bottom: 0.1em; }
.pb-0e2 { padding-bottom: 0.2em; }
.pb-0e25 { padding-bottom: 0.25em; }
.pb-0e3 { padding-bottom: 0.3em; }
.pb-0e4 { padding-bottom: 0.4em; }
.pb-0e5 { padding-bottom: 0.5em; }
.pb-0e6 { padding-bottom: 0.6em; }
.pb-0e7 { padding-bottom: 0.7em; }
.pb-0e75 { padding-bottom: 0.75em; }
.pb-0e8 { padding-bottom: 0.8em; }
.pb-0e9 { padding-bottom: 0.9em; }
.pb-1e { padding-bottom: 1em; }
.pb-1e5 { padding-bottom: 1.5em; }
.pb-2e { padding-bottom: 2em; }
.pb-2e5 { padding-bottom: 2.5em; }
.pb-3e { padding-bottom: 3em; }
.pb-3e5 { padding-bottom: 3.5em; }
.pb-4e { padding-bottom: 4em; }
.pb-4e5 { padding-bottom: 4.5em; }
.pb-5e { padding-bottom: 5em; }
/*@ Padding - left per */
.pl-2p5 { padding-left: 2.5%; }
.pl-5p { padding-left: 5%; }
.pl-10p { padding-left: 10%; }
.pl-25p { padding-left: 25%; }
.pl-50p { padding-left: 50%; }
/*@ Padding - left em */
.pl-0e1 { padding-left: 0.1em; }
.pl-0e2 { padding-left: 0.2em; }
.pl-0e25 { padding-left: 0.25em; }
.pl-0e3 { padding-left: 0.3em; }
.pl-0e4 { padding-left: 0.4em; }
.pl-0e5 { padding-left: 0.5em; }
.pl-0e6 { padding-left: 0.6em; }
.pl-0e7 { padding-left: 0.7em; }
.pl-0e75 { padding-left: 0.75em; }
.pl-0e8 { padding-left: 0.8em; }
.pl-0e9 { padding-left: 0.9em; }
.pl-1e { padding-left: 1em; }
.pl-1e5 { padding-left: 1.5em; }
.pl-2e { padding-left: 2em; }
.pl-2e5 { padding-left: 2.5em; }
.pl-3e { padding-left: 3em; }
.pl-3e5 { padding-left: 3.5em; }
.pl-4e { padding-left: 4em; }
.pl-4e5 { padding-left: 4.5em; }
.pl-5e { padding-left: 5em; }
/*@ Transform - global */
.rot-p5d, .rot-p7d5, .rot-p10d, .rot-p15d, .rot-p45d, .rot-p75d, .rot-p90d, .rot-n5d, .rot-n7d5, .rot-n10d, .rot-n15d, .rot-n45d, .rot-n75d, .rot-n90d, .skew-Yp10d, .skew-Yp15d, .skew-Yp20d, .skew-Yn10d, .skew-Yn15d, .skew-Yn20d { -ms-transform-origin: center; -o-transform-origin: center; -moz-transform-origin: center; -webkit-transform-origin: center; transform-origin: center; }
/*@ Transform - rotate */
.rot-p5d { -o-transform: rotate(5deg); -ms-transform: rotate(5deg); -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
.rot-p7d5 { -o-transform: rotate(7.5deg); -ms-transform: rotate(7.5deg); -moz-transform: rotate(7.5deg); -webkit-transform: rotate(7.5deg); transform: rotate(7.5deg); }
.rot-p10d { -o-transform: rotate(10deg); -ms-transform: rotate(10deg); -moz-transform: rotate(10deg); -webkit-transform: rotate(10deg); transform: rotate(10deg); }
.rot-p15d { -o-transform: rotate(15deg); -ms-transform: rotate(15deg); -moz-transform: rotate(15deg); -webkit-transform: rotate(15deg); transform: rotate(15deg); }
.rot-p45d { -o-transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.rot-p75d { -o-transform: rotate(75deg); -ms-transform: rotate(75deg); -moz-transform: rotate(75deg); -webkit-transform: rotate(75deg); transform: rotate(75deg); }
.rot-p90d { -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
.rot-n5d { -o-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
.rot-n7d5 { -o-transform: rotate(-7.5deg); -ms-transform: rotate(-7.5deg); -moz-transform: rotate(-7.5deg); -webkit-transform: rotate(-7.5deg); transform: rotate(-7.5deg); }
.rot-n10d { -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
.rot-n15d { -o-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
.rot-n45d { -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.rot-n75d { -o-transform: rotate(-75deg); -ms-transform: rotate(-75deg); -moz-transform: rotate(-75deg); -webkit-transform: rotate(-75deg); transform: rotate(-75deg); }
.rot-n90d { -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
/*@ Transform - skew */
.skew-Xp10d { transform: skew(0,10deg); -o-transform: skewX(10deg); -ms-transform: skewX(10deg); -moz-transform: skewX(10deg); -webkit-transform: skewX(10deg); }
.skew-Xp15d { transform: skew(0,15deg); -o-transform: skewX(15deg); -ms-transform: skewX(15deg); -moz-transform: skewX(15deg); -webkit-transform: skewX(15deg); }
.skew-Xp20d { transform: skew(0,20deg); -o-transform: skewX(20deg); -ms-transform: skewX(20deg); -moz-transform: skewX(20deg); -webkit-transform: skewX(20deg); }
.skew-Xn10d { transform: skew(0,-10deg); -o-transform: skewX(-10deg); -ms-transform: skewX(-10deg); -moz-transform: skewX(-10deg); -webkit-transform: skewX(-10deg); }
.skew-Xn15d { transform: skew(0,-15deg); -o-transform: skewX(-15deg); -ms-transform: skewX(-15deg); -moz-transform: skewX(-15deg); -webkit-transform: skewX(-15deg); }
.skew-Xn20d { transform: skew(0,-20deg); -o-transform: skewX(-20deg); -ms-transform: skewX(-20deg); -moz-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); }
.skew-Yp10d { transform: skewX(10deg); -o-transform: skewY(10deg); -ms-transform: skewY(10deg); -moz-transform: skewY(10deg); -webkit-transform: skewY(10deg); }
.skew-Yp15d { transform: skewX(15deg); -o-transform: skewY(15deg); -ms-transform: skewY(15deg); -moz-transform: skewY(15deg); -webkit-transform: skewY(15deg); }
.skew-Yp20d { transform: skewX(20deg); -o-transform: skewY(20deg); -ms-transform: skewY(20deg); -moz-transform: skewY(20deg); -webkit-transform: skewY(20deg); }
.skew-Yn10d { transform: skewX(-10deg); -o-transform: skewY(-10deg); -ms-transform: skewY(-10deg); -moz-transform: skewY(-10deg); -webkit-transform: skewY(-10deg); }
.skew-Yn15d { transform: skewX(-15deg); -o-transform: skewY(-15deg); -ms-transform: skewY(-15deg); -moz-transform: skewY(-15deg); -webkit-transform: skewY(-15deg); }
.skew-Yn20d { transform: skewX(-20deg); -o-transform: skewY(-20deg); -ms-transform: skewY(-20deg); -moz-transform: skewY(-20deg); -webkit-transform: skewY(-20deg); }
/*@ Transform - scale */
.scale-0r9 { -o-transform: scale(0.9); -ms-transform: scale(0.9); -moz-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); }
.scale-0r8 { -o-transform: scale(0.8); -ms-transform: scale(0.8); -moz-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); }
.scale-0r7 { -o-transform: scale(0.7); -ms-transform: scale(0.7); -moz-transform: scale(0.7); -webkit-transform: scale(0.7); transform: scale(0.7); }
.scale-0r6 { -o-transform: scale(0.6); -ms-transform: scale(0.6); -moz-transform: scale(0.6); -webkit-transform: scale(0.6); transform: scale(0.6); }
.scale-X1r5 { padding-left: 0.25em; padding-right: 0.25em; -o-transform: scaleX(1.5); -ms-transform: scaleX(1.5); -moz-transform: scaleX(1.5); -webkit-transform: scaleX(1.5); transform: scaleX(1.5); }
.scale-X1r4 { padding-left: 0.2em; padding-right: 0.2em; -o-transform: scaleX(1.4); -ms-transform: scaleX(1.4); -moz-transform: scaleX(1.4); -webkit-transform: scaleX(1.4); transform: scaleX(1.4); }
.scale-X1r3 { padding-left: 0.15em; padding-right: 0.15em; -o-transform: scaleX(1.3); -ms-transform: scaleX(1.3); -moz-transform: scaleX(1.3); -webkit-transform: scaleX(1.3); transform: scaleX(1.3); }
.scale-X1r2 { padding-left: 0.1em; padding-right: 0.1em; -o-transform: scaleX(1.2); -ms-transform: scaleX(1.2); -moz-transform: scaleX(1.2); -webkit-transform: scaleX(1.2); transform: scaleX(1.2); }
.scale-X1r1 { padding-left: 0.0.05em; padding-right: 0.05em; -o-transform: scaleX(1.1); -ms-transform: scaleX(1.1); -moz-transform: scaleX(1.1); -webkit-transform: scaleX(1.1); transform: scaleX(1.1); }
.scale-X0r9 { margin-left: -0.05em; margin-right: -0.05em; -o-transform: scaleX(0.9); -ms-transform: scaleX(0.9); -moz-transform: scaleX(0.9); -webkit-transform: scaleX(0.9); transform: scaleX(0.9); }
.scale-X0r8 { margin-left: -0.1em; margin-right: -0.1em; -o-transform: scaleX(0.8); -ms-transform: scaleX(0.8); -moz-transform: scaleX(0.8); -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
.scale-X0r7 { margin-left: -0.15em; margin-right: -0.15em; -o-transform: scaleX(0.7); -ms-transform: scaleX(0.7); -moz-transform: scaleX(0.7); -webkit-transform: scaleX(0.7); transform: scaleX(0.7); }
.scale-X0r6 { margin-left: -0.2em; margin-right: -0.2em; -o-transform: scaleX(0.6); -ms-transform: scaleX(0.6); -moz-transform: scaleX(0.6); -webkit-transform: scaleX(0.6); transform: scaleX(0.6); }
.scale-X0r5 { margin-left: -0.25em; margin-right: -0.25em; -o-transform: scaleX(0.5); -ms-transform: scaleX(0.5); -moz-transform: scaleX(0.5); -webkit-transform: scaleX(0.5); transform: scaleX(0.5); }
.scale-Y1r5 { padding-top: 0.25em; padding-bottom: 0.25em; -o-transform: scaleY(1.5); -ms-transform: scaleY(1.5); -moz-transform: scaleY(1.5); -webkit-transform: scaleY(1.5); transform: scaleY(1.5); }
.scale-Y1r4 { padding-top: 0.2em; padding-bottom: 0.2em; -o-transform: scaleY(1.4); -ms-transform: scaleY(1.4); -moz-transform: scaleY(1.4); -webkit-transform: scaleY(1.4); transform: scaleY(1.4); }
.scale-Y1r3 { padding-top: 0.15em; padding-bottom: 0.15em; -o-transform: scaleY(1.3); -ms-transform: scaleY(1.3); -moz-transform: scaleY(1.3); -webkit-transform: scaleY(1.3); transform: scaleY(1.3); }
.scale-Y1r2 { padding-top: 0.1em; padding-bottom: 0.1em; -o-transform: scaleY(1.2); -ms-transform: scaleY(1.2); -moz-transform: scaleY(1.2); -webkit-transform: scaleY(1.2); transform: scaleY(1.2); }
.scale-Y1r1 { padding-top: 0.0.05em; padding-bottom: 0.05em; -o-transform: scaleY(1.1); -ms-transform: scaleY(1.1); -moz-transform: scaleY(1.1); -webkit-transform: scaleY(1.1); transform: scaleY(1.1); }
.scale-Y0r9 { margin-top: -0.05em; margin-bottom: -0.05em; -o-transform: scaleY(0.9); -ms-transform: scaleY(0.9); -moz-transform: scaleY(0.9); -webkit-transform: scaleY(0.9); transform: scaleY(0.9); }
.scale-Y0r8 { margin-top: -0.1em; margin-bottom: -0.1em; -o-transform: scaleY(0.8); -ms-transform: scaleY(0.8); -moz-transform: scaleY(0.8); -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
.scale-Y0r7 { margin-top: -0.15em; margin-bottom: -0.15em; -o-transform: scaleY(0.7); -ms-transform: scaleY(0.7); -moz-transform: scaleY(0.7); -webkit-transform: scaleY(0.7); transform: scaleY(0.7); }
.scale-Y0r6 { margin-top: -0.2em; margin-bottom: -0.2em; -o-transform: scaleY(0.6); -ms-transform: scaleY(0.6); -moz-transform: scaleY(0.6); -webkit-transform: scaleY(0.6); transform: scaleY(0.6); }
.scale-Y0r5 { margin-top: -0.25em; margin-bottom: -0.25em; -o-transform: scaleY(0.5); -ms-transform: scaleY(0.5); -moz-transform: scaleY(0.5); -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }
/*@ Colors - fill */
.aliceblue { color: aliceblue; }
.antiquewhite { color: antiquewhite; }
.aqua { color: aqua; }
.aquamarine { color: aquamarine; }
.azure { color: azure; }
.beige { color: beige; }
.bisque { color: bisque; }
.black { color: black; }
.blanchedalmond { color: blanchedalmond; }
.blue { color: blue; }
.blueviolet { color: blueviolet; }
.brown { color: brown; }
.burlywood { color: burlywood; }
.cadetblue { color: cadetblue; }
.chartreuse { color: chartreuse; }
.chocolate { color: chocolate; }
.coral { color: coral; }
.cornflowerblue { color: cornflowerblue; }
.cornsilk { color: cornsilk; }
.crimson { color: crimson; }
.cyan { color: cyan; }
.darkblue { color: darkblue; }
.darkcyan { color: darkcyan; }
.darkgoldenrod { color: darkgoldenrod; }
.darkgrey { color: darkgrey; }
.darkgreen { color: darkgreen; }
.darkkhaki { color: darkkhaki; }
.darkmagenta { color: darkmagenta; }
.darkolivegreen { color: darkolivegreen; }
.darkorange { color: darkorange; }
.darkorchid { color: darkorchid; }
.darkred { color: darkred; }
.darksalmon { color: darksalmon; }
.darkseagreen { color: darkseagreen; }
.darkslateblue { color: darkslateblue; }
.darkslategrey { color: darkslategrey; }
.darkturquoise { color: darkturquoise; }
.darkviolet { color: darkviolet; }
.deeppink { color: deeppink; }
.deepskyblue { color: deepskyblue; }
.dimgrey { color: dimgrey; }
.dodgerblue { color: dodgerblue; }
.feldspar { color: feldspar; }
.firebrick { color: firebrick; }
.floralwhite { color: floralwhite; }
.forestgreen { color: forestgreen; }
.fuchsia { color: fuchsia; }
.gainsboro { color: gainsboro; }
.ghostwhite { color: ghostwhite; }
.gold { color: gold; }
.goldenrod { color: goldenrod; }
.grey { color: grey; }
.green { color: green; }
.greenyellow { color: greenyellow; }
.honeydew { color: honeydew; }
.hotpink { color: hotpink; }
.indianred { color: indianred; }
.indigo { color: #4B0082; }
.ivory { color: ivory; }
.khaki { color: khaki; }
.lavender { color: lavender; }
.lavenderblush { color: lavenderblush; }
.lawngreen { color: lawngreen; }
.lemonchiffon { color: lemonchiffon; }
.lightblue { color: lightblue; }
.lightcoral { color: lightcoral; }
.lightcyan { color: lightcyan; }
.lightgoldenrodyellow { color: lightgoldenrodyellow; }
.lightgrey { color: lightgrey; }
.lightgreen { color: lightgreen; }
.lightpink { color: lightpink; }
.lightsalmon { color: lightsalmon; }
.lightseagreen { color: lightseagreen; }
.lightskyblue { color: lightskyblue; }
.lightslateblue { color: #8470FF; }
.lightslategrey { color: lightslategrey; }
.lightsteelblue { color: lightsteelblue; }
.lightyellow { color: lightyellow; }
.lime { color: lime; }
.limegreen { color: limegreen; }
.linen { color: linen; }
.magenta { color: magenta; }
.maroon { color: maroon; }
.mediumaquamarine { color: mediumaquamarine; }
.mediumblue { color: mediumblue; }
.mediumorchid { color: mediumorchid; }
.mediumpurple { color: mediumpurple; }
.mediumseagreen { color: mediumseagreen; }
.mediumslateblue { color: mediumslateblue; }
.mediumspringgreen { color: mediumspringgreen; }
.mediumturquoise { color: mediumturquoise; }
.mediumvioletred { color: mediumvioletred; }
.midnightblue { color: midnightblue; }
.mintcream { color: mintcream; }
.mistyrose { color: mistyrose; }
.moccasin { color: moccasin; }
.navajowhite { color: navajowhite; }
.navy { color: navy; }
.oldlace { color: oldlace; }
.olive { color: olive; }
.olivedrab { color: olivedrab; }
.orange { color: orange; }
.orangered { color: orangered; }
.orchid { color: orchid; }
.palegoldenrod { color: palegoldenrod; }
.palegreen { color: palegreen; }
.paleturquoise { color: paleturquoise; }
.palevioletred { color: palevioletred; }
.papayawhip { color: papayawhip; }
.peachpuff { color: peachpuff; }
.peru { color: peru; }
.pink { color: pink; }
.plum { color: plum; }
.powderblue { color: powderblue; }
.purple { color: purple; }
.red { color: red; }
.rosybrown { color: rosybrown; }
.royalblue { color: royalblue; }
.saddlebrown { color: saddlebrown; }
.salmon { color: salmon; }
.sandybrown { color: sandybrown; }
.seagreen { color: seagreen; }
.seashell { color: seashell; }
.sienna { color: sienna; }
.silver { color: silver; }
.skyblue { color: skyblue; }
.slateblue { color: slateblue; }
.slategrey { color: slategrey; }
.snow { color: snow; }
.springgreen { color: springgreen; }
.steelblue { color: steelblue; }
.tan { color: tan; }
.teal { color: teal; }
.thistle { color: thistle; }
.tomato { color: tomato; }
.turquoise { color: turquoise; }
.violet { color: violet; }
.violetred { color: #d02090; }
.wheat { color: wheat; }
.white { color: white; }
.whitesmoke { color: whitesmoke; }
.yellow { color: yellow; }
.yellowgreen { color: yellowgreen; }
