@charset "UTF-8";
/*! ePub CSS, Framework·TL1-signature1, by 轻亦之间, version_1.1 */
@font-face { font-family: "sig1-org"; src: url("../Fonts/sig1-org.ttf") format("truetype"); }
@font-face { font-family: "sig1-group"; src: url("../Fonts/sig1-group.ttf") format("truetype"); }
@font-face { font-family: "team"; src: url("../Fonts/team.ttf") format("truetype"); }
@font-face { font-family: "sig1-maker"; src: url("../Fonts/sig1-maker.ttf") format("truetype"); }
.sig { width: 100%; padding: 10% 0; }
.sig > .col-right { width: 42.5%; padding: 5% 5% 5% 2.5%; }
.sig > .col-right > .org { font-family: sig1-org, Yuan, serif; font-size: 3em; line-height: 1; width: 1em; }
.sig > .col-right > .org > p { width: 1em; height: 1em; }
.sig > .col-right > .space { height: 5.8em; }
.sig > .col-right > .group { font-family: sig1-group, Hei, serif; font-size: 2em; line-height: 1; padding: 0.5em 0; width: 1em; }
.sig > .col-right > .group > p { -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); margin: -0.5em 0; width: 1em; height: 1em; }
.sig > .col-left { width: 42.5%; padding: 5% 2.5% 0 5%; border-right: thick double black; }
.sig > .col-left > .team { font-family: team, Kai, serif; font-size: 2em; line-height: 1; text-align: right; padding-top: 0.8em; }
.sig > .col-left > .space { height: 7.8em; }
.sig > .col-left > .maker { color: black; font-family: sig1-maker, Hei, serif; font-size: 1.5em; line-height: 1; border-radius: 0.5em; border: thin solid black; padding: 0.25em; }
.sig > .col-left > .maker > p { width: 2em; height: 1em; }
