/* ePub Framework CSS for TS1-Sign2 by 两仪天心 version_1.4 */
@charset "UTF-8";
/* Information - publisher */
@font-face { font-family: "team"; src: url("../Fonts/team.ttf") format("truetype"); }
@font-face { font-family: "link"; src: url("../Fonts/link.ttf") format("truetype"); }
.information .publisher, .information .maker { text-align: center; }
.information .publisher > .symbol { width: 6em; margin: 15% auto 1em auto; }
.information .publisher > .team { font-family: team, TS-KaiTi, serif; font-size: 1.5em; line-height: 1.2; margin-top: 0.5em; margin-bottom: 0.25em; text-decoration: underline; }
.information .publisher > .link { color: gray; font-size: 0.9em; font-family: link, TS-YuanTi, sans-serif; }
/* Information - maker */
@font-face { font-family: "maker"; src: url("../Fonts/maker.ttf") format("truetype"); }
.information .maker { font-family: maker, TS-HeiTi, serif; font-size: 1.1em; line-height: 1.2; padding-top: 1em; margin-top: 1em; border-top: 0.25em double black; }
.information .maker > .item { font-size: 0.7em; color: Grey; }